black==v19.10b0
flake8-docstrings
flake8>=3.7.9, <4.0
gcsfs==0.7.2
great_expectations
ipdb
ipykernel~=5.3
ipython-sql
ipython>=7.10
isort>=4.3.21, <5.0
jaydebeapi
jupyter_client>=5.1, <7.0
jupyterlab==0.31.1
jupyter~=1.0
kedro-viz
kedro==0.17.2
kedro[pandas]==0.17.2
nbstripout==0.3.3
psycopg2
pytest-cov~=2.5
pytest-mock>=1.7.1, <2.0
pytest~=6.1.2
s3fs==0.4.0
sphinx~=3.4.3
sqlalchemy
wheel==0.32.2
